<html lang="">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://icrypto-cdn.s3.amazonaws.com/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Oops! :(</h1>
                <p class="lead">500 Internal server error.</p>
                <hr class="my-4">
                <p>Some of the dependent parameters might be missing while processing. Kindly try again or contact administrator.</p>
              </div>
        </div>
    </div>
</body>

</html>